{% extends "base.html" %}

{% block content %}

<div class="mt-4 mx-3 mb-0 pt-0 pb-2 jumbotron bg-whiteblue">
    <h2 class="ml-3 display-4 text-center">New food</h2>
    <div class="card bg-white m-2">
        <div class="row mt-1 mx-1">
            <label for="store_name" class="col-lg col-form-label py-1">Store name</label>
            <div class="col-lg-12 py-1">
                <input type="text" class="form-control" name="inputStoreName">
            </div>
        </div>
        <div class="row mt-1 mx-1">
            <label for="menu" class="col-lg col-form-label py-1">Menu</label>
            <div class="col-lg-12 py-1">
                <input type="text" class="form-control" name="inputMenu">
            </div>
        </div>
        <div class="row mt-1 mx-1">
            <label for="menu" class="col-lg col-form-label py-1">Location</label>
            <div class="col-lg-12 py-1">
                <input type="text" class="form-control" name="inputLocation">
            </div>
        </div>
        <div class="row mt-1 mx-1">
            <label for="menu" class="col-lg col-form-label py-1">Extra info</label>
            <div class="col-lg-12 py-1 mb-2">
                <textarea type="text" class="form-control" name="inputExtraInfo" rows="3"></textarea>
            </div>
        </div>
        <div class="row mt-1 mx-1">
            <button type="submit" class="btn btn-info ml-3 mb-2" id="newFoodAdd">Add!</button>
            <h5 class="ml-3 mb-0 pt-2  text-danger align-middle" id="addNewFoodError"></h5>
        </div>
    </div>
</div>
<div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
          <h2 class="">My food list</h2>
      </div>
      <hr>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row padding bg-whitepurple">
        {% for food in foods %}
        <div class="col-lg-4">
            <div class="card p-2 bg-whitegreen">
                <div class="row mt-1 mx-1 mb-1">
                    <label class="col-lg col-form-label py-1">Store name: <span style="font-weight: bold; color: 
#3347ff">{{ food.store_name }}</span></label>
                </div>
                <div class="row mt-1 mx-1 mb-1">
                    <label class="col-lg col-form-label py-1">Menu: <span style="font-weight: bold; color: 
#3347ff">{{ food.menu }}</span></label>
                </div>
                <div class="row mt-1 mx-1 mb-1">
                    <label class="col-lg col-form-label py-1">Location: <span style="font-weight: bold; color: 
#3347ff">{{ food.location }}</span></label>
                </div>
                <div class="row mt-1 mx-1 mb-1">
                    <label class="col-lg col-form-label py-1">Extra info:</label>
                </div>
                <div class="row mt-1 mx-1 mb-1">
                    <label class="col-lg col-form-label py-1"><span style="font-weight: bold; color: 
                                  #3347ff"> -> {{ food.additional_info }}</span></label>
                </div>
                <div class="row mt-1 mx-1 mb-1">
                    <label class="col-lg col-form-label py-1">Updated Date: <span style="font-weight: bold; color: 
#3347ff">{{ food.created_date }}</span></label>
                </div>
                <div class="row mt-2 mx-1 ">
                    <button type="submit" class="btn btn-success ml-3 mb-2" id="editFoodList">&nbsp;Edit&nbsp;</button>
                    <button type="submit" class="btn btn-success ml-3 mb-2 deleteFoodList" id="{{ food["_id"]  }}">Delete</button>
                    <button type="submit" class="btn btn-success ml-3 mb-2" id="togglePrivatePublic">Private</button>
                </div>
    


            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %} 

{% block scripts %}
document.getElementById('newFoodAdd').addEventListener("click",addNewFood,false)

var delete_buttons = document.getElementsByClassName('deleteFoodList')
for(i=0;i < delete_buttons.length;i++){
       delete_buttons[i].addEventListener("click",deleteFood,false);
    }

{% endblock %}
