{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row row-cols-lg-auto ml-1">
        <button class="btn btn-outline-info mt-5 ml-3" id="buttonForNoteSave" data-user_id = "{{user["_id"]}}" type="button" style="width: 120px;">Save</button>
        <h6 id="spaceForSaveCompletedMessage" class="ml-4 mt-5 pt-2 align-middle"></h6>
    </div>
    <div class="row mx-1 mt-4 justify-content-center">
        {% if notes %}
        <div class="form-group col-md-6">
            <label for="exampleFormControlTextarea1">My Note</label>
            <textarea class="form-control enter" id="note1" rows="20">{{notes[0]}}</textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleFormControlTextarea1">My Note2</label>
            <textarea class="form-control enter" id="note2" rows="20">{{notes[1]}}</textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleFormControlTextarea1">My Note3</label>
            <textarea class="form-control enter" id="note3" rows="20">{{notes[2]}}</textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleFormControlTextarea1">My Note4</label>
            <textarea class="form-control enter" id="note4" rows="20">{{notes[3]}}</textarea>
        </div>
        {% else %}
        <div class="form-group col-md-6">
            <label for="exampleFormControlTextarea1">My Note</label>
            <textarea class="form-control" id="note1" rows="20"></textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleFormControlTextarea1">My Note2</label>
            <textarea class="form-control" id="note2" rows="20"></textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleFormControlTextarea1">My Note3</label>
            <textarea class="form-control" id="note3" rows="20"></textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleFormControlTextarea1">My Note4</label>
            <textarea class="form-control" id="note4" rows="20"></textarea>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
