{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row mx-5 mt-4">
        <div class="form-group col-md-6">
            <label for="exampleFormControlTextarea1">My Note</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="20"></textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleFormControlTextarea1">My Note2</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="20"></textarea>
        </div>
    </div>
    
</div>



{% endblock %}
