<html>
  <head>
    <title>홍대맛집</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/image/favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/style.css') }}">
    <script src="{{ url_for('static', filename='/js/scripts.js') }}" defer> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css" media="all"></style>
  </head>
  <body>
  <!-- Navigation bar -->
  <nav class="navbar bg-light navbar-light navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='/image/logo.png') }}" alt="logo.png">
      </a>
      <div class="d-inline-flex flex-row-reverse" id="navbarToggle01">
          <ul class="navbar-nav p-3">
              <li class="nav-item">
              {% if 'current_user' in session %}
                {% if session['current_user'] is not none %}
                <a href="/logout">
                  <button type="button" class="btn btn-outline-success" id="logoutButton">Logout</button>
                </a>
                {% else %}
                <a href="/login">
                  <button type="button" class="btn btn-outline-success" id="loginButton">&nbsp;Login&nbsp;</button>
                </a>
                {% endif %}
              {% else %}
                <a href="/login">
                  <button type="button" class="btn btn-outline-success" id="loginButton">&nbsp;Login&nbsp;</button>
                </a>
              {% endif %}
              </li>
          </ul>
          <ul class="navbar-nav p-3">
              <li class="nav-item">
              {% if 'current_user' in session %}
                {% if session['current_user'] is not none %}
                <a href="/mypage">
                  <button type="button" class="btn btn-outline-info" id="logoutButton">Mypage</button>
                </a>
                {% else %}
                <a href="/register">
                  <button type="button" class="btn btn-outline-info" id="registerButton">Register</button>
                </a>
                {% endif %}
              {% else %}
                <a href="/register">
                  <button type="button" class="btn btn-outline-info" id="registerButton">Register</button>
                </a>
              {% endif %}
              </li>
          </ul>
          <ul class="navbar-nav p-3">
              <li class="nav-item">
                <a href="/page-introduction">
                  <button type="button" class="btn btn-outline-primary" id="pageIntroButton">About us</button>
                </a>
              </li>
          </ul>
      </div>
    </div>
  </nav>
  {% block content %}

  {% endblock %} 
  
  <script>
  {% block scripts %}

  {% endblock %}
  </script>

  </body>
</html>
